.card-img-top {
  width: 180px;
  height: auto;
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border: 10px inset #59D8D1;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.card-detail {
  width: 25rem;
  background: #23113A;
  padding: 16px;
  border-radius: 16px;
}
